
#friends
  h3 Friends
  .span8
  
  .span6.well(ng-repeat='friend in friends | orderBy:friend.data.name ')
    .span12.friend
      img.profile-photo.pull-left(src="{{friend.data.picture.data.url}}") 
      .friend-text
        | {{friend.data.name}}
        br

        .buttons
          a.btn.btn-mini.btn-danger(ng-class="{ disabled : !friend.following }", ng-disabled="{{!friend.following}}", ng-click="unfollow(friend)") UNFOLLOW 
          a.btn.btn-mini.btn-success(ng-class="{ disabled : friend.following }", ng-disabled="{{friend.following}}", ng-click="follow(friend)") FOLLOW

      p.clearfix