
.friend {
   vertical-align: top;
}

.friend-text {
	vertical-align: top;
}

.profile-photo {
	padding-right: 10px;
}

#friends .buttons {
	padding-top: 5px;
}

.friend .buttons .btn:not(:last-child) {
	margin-right: 5px !important;
}

#friends .well {
	margin-bottom: 10px;
}